@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/main.css" type="text/css" media="all" />

<section id="banner">
    <video src="~/img/banner_index.mp4" autoplay muted loop></video>

    <div class="inner">
        <header>
            <h1>Voluntariado  Santa Cruz</h1>
        </header>
    </div>
</section>

<!-- Main -->
<div id="main">
    <div class="inner">

        <!-- Boxes -->
        <div class="thumbnails">

            <div class="box">
                <a href="https://www.youtube.com/" class="image fit"><img src="~/img/niños.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Promover una sociedad justa, inclusiva y pacífica en Bolivia</h3>
                    <p>Tuve la oportunidad de contribuir desde mi lugar a la construcción de una sociedad pacífica e inclusiva, con acceso a la justicia para todos e instituciones eficaces.</p>
                    <a href="https://www.youtube.com/" class="button fit" data-poptrox="youtube,800x400">Ver</a>
                </div>
            </div>

            <div class="box">
                <a href="https://www.youtube.com/" class="image fit"><img src="~/img/niños2.jpg" alt="" /></a>
                <div class="inner">
                    <h3>10 cosas absolutamente maravillosas de servir como voluntaria</h3>
                    <p>El voluntariado es una experiencia enriquecedora a la que llegas con un bagaje previo y en la que nunca dejas de aprender.</p>
                    <a href="https://www.youtube.com/" class="button style2 fit" data-poptrox="youtube,800x400">Ver</a>
                </div>
            </div>

            <div class="box">
                <a href="https://www.youtube.com/" class="image fit"><img src="~/img/niños3.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Voluntarias Jóvenes de Suecia aprenden nuevas habilidades</h3>
                    <p>Te invitamos a conocer más de su experiencia y su trabajo en el país.</p>
                    <a href="https://www.youtube.com/" class="button style3 fit" data-poptrox="youtube,800x400">Ver</a>
                </div>
            </div>

            <div class="box">
                <a href="https://www.youtube.com/" class="image fit"><img src="~/img/niños4.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Aldeas SOS</h3>
                    <p>Aldeas Infantiles SOS actúa primordialmente por la defensa y restitución de los derechos de niños, niñas y adolescentes desde un modelo basado en la familia y la comunidad.</p>
                    <a href="https://www.youtube.com/" class="button style2 fit" data-poptrox="youtube,800x400">Ver</a>
                </div>
            </div>

            <div class="box">
                <a href="https://www.youtube.com/" class="image fit"><img src="~/img/niños5.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Feria del Voluntariado</h3>
                    <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                    <a href="https://www.youtube.com/" class="button style3 fit" data-poptrox="youtube,800x400">Ver</a>
                </div>
            </div>

            <div class="box">
                <a href="https://www.youtube.com/" class="image fit"><img src="~/img/niños6.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Feria Internacional del Libro</h3>
                    <p>
                        Como cada año, los niños/as con mejores notas y comportamiento de los que acuden a nuestra Asociación se beneficiaron de la visita a la Feria Internacional del libro de Santa Cruz de la Sierra.
                        Este precioso espacio cultural fue disfrutado en su totalidad por nuestros chicos, quienes acudieron a los teatros, actuaciones de bailes, cuenta cuentos y espacios recreativos de pintura y dibujo.
                    </p>
                    <a href="https://www.youtube.com/" class="button fit" data-poptrox="youtube,800x400">Ver</a>
                </div>
            </div>

        </div>

    </div>
</div>
