
@{
    ViewData["Title"] = "Registro";
}
<link rel="stylesheet" href="~/css/Login.css" type="text/css" media="all" />


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="container-login100-form-btn ">
                <button class="login100-form-btn">
                    <a asp-area="" asp-controller="Voluntarios" asp-action="Create">Voluntario</a>
                </button>
            </div>
            <div class="container-login100-form-btn registro">
                <button class="login100-form-btn">
                    <a asp-area="" asp-controller="Organizacions" asp-action="Create">Mi Organizacion</a>
                </button>
            </div>

        </div>
    </div>
   